<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>아이디 하나만 가지고오기</title>
</head>
<body>
	<h1>user info</h1>
		<table border="1">
			<thead>
				<tr>
					<th>ID</th>
					<th>NAME</th>
					<th>EMAIL</th>
					<th>BIRTH</th>
				</tr>
			</thead>
		
	
	
			<tbody>
				<tr th:if="${user}">
					<td th:text="${user.mno}"></td>
					<td th:text="${user.mname}"></td>
					<td th:text="${user.memail}"></td>
					<td th:text="${user.mbirth}"></td>
				</tr>
			</tbody>
		</table>
</body>
</html>