<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="EUC-KR">
<title>제품 추가하기</title>
</head>
<body>
	<h2>제품 추카 폼 작성</h2>
	<form action="" th:object="" method="post">
		<input type="hidden" th:field="*{id}" />
		
		<label>ID : </label>
		<input th:text="${product.product_id}"/>
		
		<label>NAME : </label>
		<input th:field="${product_name}"/>
		
		<label>Category : </label>
		<input th:field="${category}" />
		
		<label>Price : </label>
		<input th:text="${price}" />
		
		<label>Stock Quantity : </label>
		<input th:text="${stock_quantity}" />

		<button type="submit">저장하기</button>
	</form>

</body>
</html>

<!--
th:text
	특정 HTML 내용을 유동적으로 설정하는데 사용
	서버에서 전달된 데이터나 변수값을 해당 값에다가 넣어서
	텍스트로 출력할 때 사용
	th:text get과 비슷함
	주로 p태그와 같이 무언가를 출력할 때 많이 씀
th:field
	html에 작성한 내용을 유동적으로 설정하는데 사용
	주로 사용자가 입력한 값을 서버로 전송할 때 사용(set)
	주로 input 태그와 같이 사용자가 무언가를 작성해서 DB로 전송할 때 사용
	또는 예외적으로 서버에서 전달된 데이터나 변수를 폼에 필드 값으로 설정(get)
	
	1.th:field="*{변수명}"
		폼에 작성해준 변수명을 정의할 때 주로 사용
	
	2.th:field="${변수명}"	
		변수를 나타내는 표현
	
-->