<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="EUC-KR">
<title>장바구니</title>
</head>
<body>
	<h1>장바구니</h1>
	<div th:if ="${cart != null}">
		
	
	<table>
		<thead>
			<tr>
				<th>상품명</th>
				<th>가격</th>
				<th>수량</th>
				<th>합계</th>
			</tr>
		</thead>
		<tbody th:each="cartItem : ${cart.cartItems}">
			<tr>
				<td th:text="${cartItem.item.name}"></td>
				<td th:text="${cartItem.item.price}"></td>
				<td th:text="${cartItem.item.count}"></td>
				<td th:text="${cartItem.item.price * cartItem.item.count}"></td>
			</tr>
		</tbody>
	</table>
	
	<!-- 총 가격 총 수량을 작성해주는 p태그 -->
	<p>총가격 : <span th:text="${cart.totalAmount}"></span></p>
	<p>총수량 : <span th:text="${cart.totalCount}"></span></p>
	</div>
	<div th:unless="${cart != null}">
		<p>카트에 담긴 제품이 없습니다.</p>
	</div>
</body>
</html>
		<!--
				CartItem에 있는 객체에서 item에 있는 Name 속성을 나타냄
				public class CartItem{
					private Item item;
				}
				CartItem에 포함해서 작성해준 필드 Item에 들어가
				public class Item{
					private String name;
					private String price;
					로 지정해준 값을 가지고 옴
				}
				-->