<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
</head>
<body>
	<h2>고객 상세보기</h2>
	<table border="1">
		<thead>
			<tr>
				<th>ID</th>
				<th>NICKNAME</th>
				<th>PASSWORD</th>
				<th>EMAIL</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="customer != null">
				<td th:text="${customer.customer_id}"></td>
				<td th:text="${customer.customer_nickName}"></td>
				<td th:text="${customer.customer_password}"></td>
				<td th:text="${customer.customer_email}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>