<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="EUC-KR">
<title>KH Shopping Mall</title>
</head>
<body>
	<h2>KH 쇼핑몰에 오신걸 환영합니다.</h2>
	<div>
		<th:block th:if="${loginMember != null">
		<p>로그아웃</p>
		</th:block>
		
		<th:block th:unless="${loginMember}==null">
		<form>
			<input type="email" name="email" placeholder="이메일을 입력하세요">
			<input type="password" name="password" placeholder="비밀번호를 확인하세요">
			<button type="submit">로그인</button>
		</form>
		</th:block>
	</div>
	
	<div>
		<a href="/members/new">회원가입</a>
		<a href="/members/login">로그인</a>
	</div>
	<p>배너자리</p>
	<img src="img/ㅁㄾ.png"/>
	
	<div>쇼핑리스트</div>
</body>
</html>
